{% extends "base-out.twig" %}
{% block content %}
    <div class="container heading">
        <h2 class="">{{ titulo_cabecera }}</h2>
    </div>
        
    <div class="container-fluid jumbotron" style="padding: 35px">
        <h1>{{ titulo_principal|raw }}</h1>
        <p>{{ subtitulo_principal|raw }}</p>
        
        {#<form class="form-signins" action="." method="post">#}
            <div class="input-group form-group">
                <input class="form-control" type="text" id="keyword" name="keyword" placeholder="Busca un contacto" value="{{ keyword }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="lanzarBusqueda()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        {#</form>#}
    </div>
    <div class="container">
        <h3><em>{{ titulo_contenido|raw }}</em></h3>
        <div class="form-group">
          {{ contenido|raw }}
        </div>

        <div class='col-xs-6 col-sm-4 funciones'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <h4>Crea un contacto</h4>
                    <a class="btn btn-success btn-sm" href="crear-contacto"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>
        </div>
        <div class='col-xs-6 col-sm-4 funciones'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <h4>Busca contactos</h4>
                    <a class="btn btn-primary btn-sm" href="buscar-contactos"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
        </div>
        <div class='col-xs-6 col-sm-4 col-xs-offset-3 col-sm-offset-0 funciones'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <h4>Ve todos los contactos</h4>
                    <a class="btn btn-info btn-sm" href="ver-contactos"><span class="glyphicon glyphicon-list"></span></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function lanzarBusqueda() {
            location.href = location.href+"buscar-contactos/"+$('#keyword').val();
        }
    </script>

{% endblock %}